<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">	
    <link rel="stylesheet" href="http://bictedu.com/beta/assets/css/settings.css" media="screen" />	
    <title>Online Fee Payment</title>
</head>
<body>
    <div class="main" style="width:60%; margin-left:20%; margin-right:20%; margin-top: 50px;">
      <form action="#">
          <div>
            <h6 style="text-align: center;">EMI calculator</h6>
           <h5> Select the Year: </h5>
            <select (change)="SetDropDownValue($event)">
              <option value="">Select</option>
              <option value="0">1 Year</option>
              <option value="1">2 Year</option>
              <option value="2">3 Year</option>
              <option value="3">4 Year</option>
              <option value="4">5 Year</option>
            </select>
            <h5 style="margin-top:15px;">Rate Of Interest:</h5>
            <div [ngSwitch] = 'dropDownValue'>
              <h6 *ngSwitchCase="0">12%</h6>
              <h6 *ngSwitchCase="1">10%</h6>
              <h6 *ngSwitchCase="2">9%</h6>
              <h6 *ngSwitchCase="3">8%</h6>
              <h6 *ngSwitchCase="4">6%</h6>
              <h6 *ngSwitchDefault="">Select the year</h6>
            </div>
            <h5 style="margin-top:15px;">Enter annual salary:</h5>
            <input type="text" [(ngModel)] = "num"/>
          </div>
        <br>
        <input type="submit" value="Calculate EMI" class="btn" style="width:50%;margin-left:25%; margin-right:25%">
      <h6 style="margin-top:20px; text-align:center;" (click)="EMI">{{f}}</h6>
      </form> 
    </div>			                                      
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/yourcode.js"></script>
</body>
</html>